* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcBody {
  width: 450px;
  border: 2px solid red;
}

.display {
  height: 75px;
  padding: 10px;
  border: 1px solid blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 10px;
}

.subBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 90px;
  border: 1px solid blue;
  font-size: 40px;
}

.zero {
  width: 46%;
}

.clicked {
  background-color: gold;
}
