@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(25, 25, 25);
}

.calcBody {
  max-width: 400px;
  border: 7px solid darkgray;
  border-radius: 50px;
}

.display {
  height: 80px;
  padding: 20px;
  font-size: 40px;
  color: white;
  border-bottom: 5px solid darkgray;
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.subBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  font-size: 40px;
  border-radius: 50%;
}

.number,
.comma {
  background-color: rgb(62, 62, 62);
  color: white;
}

.operator {
  background-color: goldenrod;
  color: white;
  transition: all 0.25s ease;
}

.clickedOperator {
  background-color: white;
  color: goldenrod;
}

.clear,
.signChange,
.percentage {
  background-color: darkgray;
  transition: background-color 0.25s ease;
}

.clear:active {
  background-color: white;
}

.signChange:active {
  background-color: white;
}

.zero {
  width: 180px;
  border-radius: 50px;
}

.clicked {
  background-color: rgb(151, 151, 151);
}

.percentage.clicked {
  background-color: white;
}
